.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
}

.product-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 10px;
}
